<include href="views/includes/header.html"></include>
<body>
<div class="container">
  <h1>Contact Us</h1>

  <h4>Email Us!</h4>
  <p>customersupport@ricericebaby.com</p>

  <h4>Locations</h4>
  <p>Seattle, WA (206) 333-5555</p>
  <p>Auburn, WA (206) 333-5555</p>
  <p>Tacoma, WA (206) 333-5555</p>

  <h4>Hours of Operation</h4>
  <p>Monday 4pm-10pm</p>
  <p>Tuesday 4pm-10pm</p>
  <p>Wednesday 4pm-10pm</p>
  <p>Thursday 4pm-10pm</p>
  <p>Friday 4pm-12am</p>
  <p>Saturday 4pm-12am</p>
  <p>Sunday CLOSED</p>
  <br>

</div>

</body>
</html>