<include href="views/includes/header.html"></include>
<include href="views/includes/topnav.html"></include>

<body>
<section>
    <h1>Welcome to Our Rice Distribution Company</h1>
    <p>Welcome to Rice Rice Baby, serving the best types of rice to the GRC community!</p>
    <img src="images/ricefield.jpg" alt="Picture of our restaurant">
    <br><br>
    <h2>About Us</h2>
    <p>
        Rice Rice Baby is committed to be the largest local producer of hybrid rice and
        hybrid rice seeds in the Philippines and tropical Asia. Rice Rice Baby is the first
        local company and market leader in hybrid rice and hybrid rice seeds exportation
        through strategic partnership with our internal and external customers. We will
        sustain organizational excellence by delivering premium quality rice and seeds,
        ensuring employee participation and growth within the organization, utilizing
        factual data in decision making and instilling continuous improvement as part
        of daily job activities.
        <br><br>
        Rice Rice Baby is committed to the principle that quality is everyone's responsibility,
        and we guarantee to continually improve and comply with the regulatory and statutory
        requirements and with the requirements of our Quality Management System.

    </p>
    <br><br>
</section>
<!--<div class="container">
    <p>View Our Inventory</p>
    <ul>
        <li><a href="contact-us">Contact Us</a></li>
        <li><a href="menu">Our Menu</a></li>
        <li><a href="login">Login</a></li>
    </ul>
</div>-->

</body>
</html>