<include href="views/includes/header.html"></include>
<div class="container topnav">
    <div class="row">
        <div class="col">
            <a class="active nav" href="{{ @BASE }}">About Us</a>
        </div>
        <div class="col">
            <a class="nav" href="contact-us">Contact Us</a>
        </div>
        <div class="col">
            <a class="nav" href="rice">Our Rice</a>
        </div>
        <div class="col">
            <a class="nav" href="login">Login to Your Account</a>
        </div>
        <br><br>
    </div>
</div>

    <h1>Welcome to Our Rice Distribution Company</h1>
    <div class="container">
        <div class="row">
            <div class="col">
                <p>Welcome to Rice Rice Baby, serving the best types of rice to the GRC community!</p>
                <img src="images/ricefield.jpg" alt="Picture of our restaurant">

            <h2>About Us</h2>
                <p>
                    Rice Rice Baby is committed to be the largest local producer of hybrid rice and
                    hybrid rice seeds in the Philippines and tropical Asia. Rice Rice Baby is the first
                    local company and market leader in hybrid rice and hybrid rice seeds exportation
                    through strategic partnership with our internal and external customers. We will
                    sustain organizational excellence by delivering premium quality rice and seeds,
                    ensuring employee participation and growth within the organization, utilizing
                    factual data in decision making and instilling continuous improvement as part
                    of daily job activities.
                    <br><br>
                    Rice Rice Baby is committed to the principle that quality is everyone's responsibility,
                    and we guarantee to continually improve and comply with the regulatory and statutory
                    requirements and with the requirements of our Quality Management System.
                </p>
            </div>
        </div>
    </div>

<!--<check if="{{ isset(@SESSION.userID) }}">-->
<!--    {{ @SESSION.userID }}-->
<!--</check>-->
<!--<div class="container">
    <p>View Our Inventory</p>
    <ul>
        <li><a href="contact-us">Contact Us</a></li>
        <li><a href="menu">Our Menu</a></li>
        <li><a href="login">Login</a></li>
    </ul>
</div>-->

