<include href="views/includes/header.html"></include>
<div class="container topnav">
  <div class="row">
    <div class="col">
      <a class="nav" href="{{ @BASE }}">About Us</a>
    </div>
    <div class="col">
      <a class="nav" href="contact-us">Contact Us</a>
    </div>
    <div class="col">
      <check if="{{ !isset(@SESSION.userID) }}">
        <a class="nav" href="login">Our Rice</a>
      </check>
      <check if="{{ isset(@SESSION.userID) }}">
        <a class="nav" href="rice">Our Rice</a>
      </check>
    </div>
    <div class="col">
      <a class="active nav" href="login">Login to Your Account</a>
    </div>
    <br><br>
  </div>
</div>


<div class="container login-page">
  <h1>Login</h1>
  <div class="login-box">
    <div class="box">
      <form action="#" method="POST">
        <check if="{{ isset(@errors['user']) }}">
          <span class="err">{{ @errors['user'] }}</span>
          <br>
        </check>
        <input type="text" placeholder="Username" name="username" id="username">
        <input type="password" placeholder="Password" name="password" id="password">
        <button type="submit">LOG IN</button>
      </form>
    </div>

  <p>Don't have an account? <a href="signup" id="sign-up-link">Sign Up</a></p>
  </div>
</div>

