<include href="views/includes/header.html"></include>
<div class="container topnav">
    <div class="row">
        <div class="col">
            <a class="nav" href="{{ @BASE }}">About Us</a>
        </div>
        <div class="col">
            <a class="nav" href="contact-us">Contact Us</a>
        </div>
        <div class="col">
            <a class="active nav" href="rice">Our Rice</a>
        </div>
        <div class="col">
            <a class="nav" href="login">Login to Your Account</a>
        </div>
        <br><br>
    </div>
</div>

<body>
<div class="container">
    <form action="#" method="post" class="">

        <br>
        <br>

        <h1>Please Select The Types of Rice you Wish to Purchase</h1>

        <br>
        <br>

        <div class="row">
            <div class="col">
                <img src="images/arborio.jpg" alt="A picture of Arborio rice">
                <br>
                <input type="checkbox" id="rice1" name="rice[]" value="Arborio">
                <label for="rice1">Arborio Rice</label>

                <p>Arborio rice is a variety of short-grain rice used primarily
                    in the classical preparation of risotto. Named after the area
                    in Italy where it was originally cultivated, today the rice is
                    also grown in the U.S. in states such as California and Texas.
                    Arborio rice is short, fat, and slightly oval-shaped with a
                    pearly white exterior.</p>
            </div>


            <div class="col">
                <img src="images/basmati.jpg" alt="A picture of Basmati rice">
                <br>
                <input type="checkbox" id="rice2" name="rice[]" value="Basmati">
                <label for="rice2">Basmati Rice</label>

                <p>Basmati rice is a variety of long-grained rice that originates
                    in the foothills of the Himalayas and is traditionally served
                    in Indian and other South Asian cuisines. Frequently served
                    alongside various curries, braised or roasted meats, or as
                    the main ingredient in classic biryani, basmati rice is
                    sometimes served plain but often flavored with turmeric or
                    saffron, both of which impart a characteristic yellow hue</p>
            </div>


            <div class="col">
                <img src="images/black.jpg" alt="A picture of black rice">
                <br>
                <input type="checkbox" id="rice3" name="rice[]" value="Black">
                <label for="rice3">Black Rice</label>

                <p>Black rice (Oryza sativa) is deep, purple-colored rice also
                    known as forbidden rice. The rice got this name because in
                    Ancient China it was reserved only for those in the upper
                    class. Black rice has a roasted, nutty taste and soft texture.</p>
            </div>
        </div>

        <div class="row">

            <div class="col">
                <img src="images/white.jpg" alt="A picture of white rice">
                <br>
                <input type="checkbox" id="rice4" name="rice[]" value="White">
                <label for="rice4">White Rice</label>

                <p>White rice is a starchy grain used as a staple ingredient by
                    more than half the world's population primarily due to its
                    versatility, availability, and ability to adapt to any flavor
                    and seasoning. White rice has a chewiness and soft texture
                    that adds substance to meals and complements many cuisines.</p>
            </div>
            <br>

            <div class="col">
                <img src="images/brown.jpg" alt="A picture of brown rice">
                <br>
                <input type="checkbox" id="rice5" name="rice[]" value="Brown">
                <label for="rice5">Brown Rice</label>

                <p>Brown rice gets its color, flavor and texture from the bran
                    layers that remain on the rice when it goes through the
                    hulling process. It's milled for less time than white rice,
                    which is why it retains the bran layers and is known for
                    being a healthy source of fiber and for its chewy texture
                    and nut-like flavor. There are four different types of brown
                    rice — short grain, medium grain, long grain and light brown
                    — and each takes a different amount of times to cook.</p>
            </div>

            <div class="col">
                <img src="images/jasmine.jpg" alt="A picture of jasmine rice">
                <br>
                <input type="checkbox" id="rice6" name="rice[]" value="Jasmine">
                <label for="rice6">Jasmine Rice</label>

                <p>Sometimes called “Thai rice” or “fragrant rice,” jasmine rice
                    is an aromatic long-grain rice variety that originated in
                    Thailand. It is used widely in Southeast Asian cooking, as
                    well as in some Middle Eastern dishes. You’ll see it at most
                    supermarkets, as well as at Asian or Middle Eastern markets.
                    White jasmine is the most widely available type, although you
                    will occasionally see brown jasmine rice too.</p>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <img src="images/sticky.jpg" alt="A picture of sticky rice">
                <br>
                <input type="checkbox" id="rice7" name="rice[]" value="Sticky">
                <label for="rice7">Sticky Rice</label>

                <p>Sticky rice, also called sweet rice and glutinous rice, is
                    used throughout Asia. This round-grained rice is immediately
                    recognizable by its sticky, gluelike texture when cooked.
                    It is the total or near absence of the starch amylose that
                    makes sticky rice so sticky. Offered in long-grain and
                    short-grain varieties, sticky rice is used in both sweet
                    and savory Chinese dishes and is most often steamed. Sticky
                    rice is more expensive than regular white rice, about
                    double the price.</p>
            </div>
            <br>
        </div>

        <div class="row" id="bottom-button-row">
            <div class="submit-order col">
                <button type="submit">Finalize Order!</button>
            </div>
        </div>
    </form>
</div>

</body>
</html>