<include href="views/includes/header.html"></include>
<include href="views/includes/topnav.html"></include>

<div class="container">
  <h1>Our Rice</h1>

  <div class="row">
    <div class="col">
      <img src="images/arborio.jpg" alt="A picture of rice">
      <p class="rice">Arborio Rice</p>
      <p class="add-cart">Add to Cart!</p>
    </div>
    <br>
    <div class="col">
      <img src="images/basmati.jpg" alt="A picture of rice">
      <p class="rice">Basmati Rice</p>
      <p class="add-cart">Add to Cart!</p>
    </div>

    <div class="col">
      <img src="images/black.jpg" alt="A picture of rice">
      <p class="rice">Black Rice</p>
      <p class="add-cart">Add to Cart!</p>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <img src="images/white.jpg" alt="A picture of rice">
      <p class="rice">Long Grain White Rice</p>
      <p class="add-cart">Add to Cart!</p>
    </div>
    <br>
    <div class="col">
      <img src="images/brown.jpg" alt="A picture of rice">
      <p class="rice">Brown Rice</p>
      <p class="add-cart">Add to Cart!</p>
    </div>

    <div class="col">
      <img src="images/jasmine.jpg" alt="A picture of rice">
      <p class="rice">Jasmine Rice</p>
      <p class="add-cart">Add to Cart!</p>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <img src="images/sticky.jpg" alt="A picture of rice">
      <p class="rice">Sticky Rice</p>
      <p class="add-cart">Add to Cart!</p>
    </div>
    <br>
  </div>

</div>