<include href="views/includes/header.html"></include>
<include href="views/includes/topnav.html"></include>

<body>
<div class="container">
    <form action="#" method="post" class="">

        <h1>Please Select The Types of Rice you Wish to Purchase</h1>

        <div class="row">
            <div class="col">
                <img src="images/arborio.jpg" alt="A picture of rice">
                <br>
                <input type="checkbox" id="rice1" name="rice[]" value="Arborio">
                <label for="rice1">Arborio Rice</label>
                <p class="add-cart">Add to Cart!</p>
            </div>


            <div class="col">
                <img src="images/basmati.jpg" alt="A picture of rice">
                <br>
                <input type="checkbox" id="rice2" name="rice[]" value="Basmati">
                <label for="rice2">Basmati Rice</label>
                <p class="add-cart">Add to Cart!</p>
            </div>


            <div class="col">
                <img src="images/black.jpg" alt="A picture of rice">
                <br>
                <input type="checkbox" id="rice3" name="rice[]" value="Black">
                <label for="rice3">Black Rice</label>
                <p class="add-cart">Add to Cart!</p>
            </div>
        </div>

        <div class="row">

            <div class="col">
                <img src="images/white.jpg" alt="A picture of rice">
                <br>
                <input type="checkbox" id="rice4" name="rice[]" value="White">
                <label for="rice4">White Rice</label>
                <p class="add-cart">Add to Cart!</p>
            </div>
            <br>

            <div class="col">
                <img src="images/brown.jpg" alt="A picture of rice">
                <br>
                <input type="checkbox" id="rice5" name="rice[]" value="Brown">
                <label for="rice5">Brown Rice</label>
                <p class="add-cart">Add to Cart!</p>
            </div>

            <div class="col">
                <img src="images/jasmine.jpg" alt="A picture of rice">
                <br>
                <input type="checkbox" id="rice6" name="rice[]" value="Jasmine">
                <label for="rice6">Jasmine Rice</label>
                <p class="add-cart">Add to Cart!</p>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <img src="images/sticky.jpg" alt="A picture of rice">
                <br>
                <input type="checkbox" id="rice7" name="rice[]" value="Sticky">
                <label for="rice7">Sticky Rice</label>
                <p class="add-cart">Add to Cart!</p>
            </div>
            <br>
        </div>

        <div class="row" id="bottom-button-row">
            <div class="submit-order">
                <button class="btn btn-primary w-100" type="submit">Finalize Order!</button>
            </div>
        </div>
    </form>
</div>

</body>
</html>