body {
    text-align: center;
    background-color: #1e0000;
}
section {
    width: 766px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

html * {
    color: white;
    font-family: Book Antiqua,Palatino,Palatino Linotype,Palatino LT STD,Georgia,serif;
}

ul {
    list-style-position: inside;
    padding-left: 0;
    text-align: center;
}

input[type="text"], input[type="email"], button {
    margin-top: 20px;
    border-radius: 10px;
    height: 50px;
    width: 300px;
    color: black;
    font-size: 16px;
}

.login-page, .signup-page {
    background-color: #83020b;
    width: 500px;
    margin-top:200px;
    padding: 20px 20px 50px 20px;
    border-radius: 10px;
}

/* CSS for topnav below from W3 schools

    **** Might conflict with bootstrap ****
 */

/* Add a black background color to the top navigation */
.topnav {
    background-color: #1e0000;
    overflow: hidden;

}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #83020b;
    color: white;
}

.rice {
    margin-bottom: 0;
}

.add-cart {
    margin-bottom: 50px;
}
