body {
    text-align: center;
    background-color: #1e0000;
}
section {
    width: 766px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

html * {
    color: white;
    font-family: Book Antiqua,Palatino,Palatino Linotype,Palatino LT STD,Georgia,serif;
}

ul {
    list-style-position: inside;
    padding-left: 0;
    text-align: center;
}

input[type="text"], button {
    margin-top: 20px;
    border-radius: 10px;
    height: 50px;
    width: 300px;
    color: black;
    font-size: 16px;
}

.login-page {
    background-color: #83020b;
    width: 500px;
    margin-top:200px;
    padding: 20px 20px 50px 20px;
    border-radius: 10px;
}
